
version: '3'

services:

  chronoi-pilot:
    build: .
    container_name: "chronoi-pilot"
    image: chronoi-pilot
    volumes:
      - .:/srv/chronoi-pilot:ro
      - ${INPUT_DIR}:/srv/input:ro
      - ${OUTPUT_DIR}:/srv/output:rw

  heideltime:
    build: ./heideltime
    container_name: "heideltime"
    image: heideltime
    volumes:
      - ${OUTPUT_DIR}:/srv/output:rw
